@use "../global/variables";
@use "../global/mixins";

.advantages {
  background-color: variables.$base-white;
}

.advantages__container {
  margin-bottom: 61px;
  padding-top: 50px;
  text-align: center;
}

.advantages__heading {
  margin: 0 0 36px;
  @include mixins.font-heading-2;
}

.advantages__subheading {
  margin-bottom: 5px;
}

.advantages__title {
  display: block;
  margin-bottom: 4px;
  @include mixins.font-bold;
  @include mixins.font-heading-3;
  color: variables.$base-black;
}

.advantages__description {
  margin: 0;
  @include mixins.font-regular;
  @include mixins.font-body;
}

.advantages__item {
  position: relative;
  margin-bottom: 33px;
  padding-top: 65px;

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 52px;
    height: 56px;
    background-repeat: no-repeat;
    content: "";
  }

  &--icon-clock::before {
    background-image: url("../../img/icon-clock.svg");
  }

  &--icon-pocket::before {
    background-image: url("../../img/icon-pocket.svg");
  }

  &--icon-lightning::before {
    background-image: url("../../img/icon-lightning.svg");
  }

  &--icon-leaf::before {
    background-image: url("../../img/icon-leaf.svg");
  }
}

@media (min-width: variables.$min-tablet-width) {
  .advantages {
    padding-bottom: 99px;
  }

  .advantages__container {
    margin-bottom: 30px;
    padding-top: 60px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px 10px;
    text-align: left;
  }

  .advantages__heading {
    margin-bottom: 60px;
    @include mixins.font-heading-3;
  }

  .advantages__subheading {
    margin-bottom: 4px;
  }

  .advantages__item {
    margin: 0;
    padding-top: 0;
    padding-left: 82px;

    &:before {
      top: 0;
      left: 10px;
      transform: translateX(0);
    }
  }

  .advantages__title {
    margin-bottom: 10px;
    @include mixins.font-heading-2;
  }

  .advantages__description {
    @include mixins.font-title;
  }
}

@media (min-width: variables.$min-desktop-width) {
  .advantages {
    padding-bottom: 90px;
  }

  .advantages__container {
    padding-top: 100px;
  }

  .advantages__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
  }

  .advantages__heading {
    margin-bottom: 156px;
  }

  .advantages__item {
    padding-left: 0;
    text-align: center;

    &:before {
      top: -76px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
