@use "../global/variables";
@use "../global/mixins";

.catalog-item {
  padding: 40px 20px 20px;
  background-color: variables.$base-white;
  border-radius: 4px;
}

.catalog-item__title-link {
  @include mixins.font-bold;
  @include mixins.font-heading-3;
}

.catalog-item__image-link {
  display: block;
  text-align: center;
}

.catalog-item__description {
  @include mixins.font-regular;
}
