@use "../global/variables";
@use "../global/mixins";

.catalog-item {
  padding: 40px 20px 20px;
  background-color: variables.$base-white;
  border-radius: 4px;
}

.catalog-item__title-link {
  @include mixins.font-bold;
  @include mixins.font-heading-3;
}

.catalog-item__image-link {
  display: block;
  margin-bottom: 24px;
  text-align: center;
}

.catalog-item__image {
  display: block;
}

.catalog-item__title {
  margin: 0 0 4px;
}

.catalog-item__description {
  margin: 0 0 16px;
  @include mixins.font-regular;
  @include mixins.font-body;
}

.catalog-item__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-item__cost {
  @include mixins.font-semibold;
  @include mixins.font-subheading;
}

@media (min-width: variables.$min-tablet-width) {
  .catalog-item {
    padding: 50px 30px 30px;
  }

  .catalog-item__image-link {
    margin-bottom: 30px;
  }

  .catalog-item__title {
    margin-bottom: 10px;
  }

  .catalog-item__description {
    margin: 0 0 20px;
  }

  .catalog-item__title-link {
    @include mixins.font-heading-2;
  }
}

@media (min-width: variables.$min-desktop-width) {
  .catalog-item {
    &:hover,
    &:focus {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    }
  }

  .catalog-item {
    &--selected {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    }
  }
}
