@use "../global/variables";
@use "../global/mixins";

.catalog-item {
  padding: 40px 20px 20px;
  background-color: variables.$base-white;
  border-radius: 4px;
}

.catalog-item__title-link {
  @include mixins.font-bold;
  @include mixins.font-heading-3;
}

.catalog-item__image-link {
  display: block;
  text-align: center;
}

.catalog-item__image {
  display: block;
  margin-bottom: 24px;
}

.catalog-item__title {
  margin: 0 0 5px;
}

.catalog-item__description {
  margin: 0 0 16px;
  @include mixins.font-regular;
  @include mixins.font-body;
}

.catalog-item__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-item__cost {
  @include mixins.font-semibold;
  @include mixins.font-subheading;
}

