@use "../global/variables";
@use "../global/mixins";

.footer {
  background-color: variables.$base-white;
}

.footer__social-list-wrapper {
  padding: 10px 0 11px;
}

.footer__social-list-wrapper,
.footer__navigation,
.footer__address-wrapper {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    bottom: 0;
    width: 100vw;
    height: 1px;
    background-color: variables.$base-secondary;
  }
}

.footer__logo {
  display: flex;
  flex-shrink: 0;
  padding: 12px 0;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__logo-image {
  display: block;
}

.footer__logo-description {
  display: none;
}

.footer__address-wrapper {
  padding: 20px 0;
}

.footer__address {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.footer__location,
.footer__phone {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 13px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.footer__location {
  margin-bottom: 16px;

  &::before {
    background-image: url("../../img/pin.svg");
  }
}

.footer__phone::before {
  background-image: url("../../img/phone.svg");
}

.footer__location,
.footer__phone {
  padding-left: 19px;
  @include mixins.font-regular;
  @include mixins.font-body;
  color: variables.$base-black;
}

.footer__navigation {
  flex-direction: column;
  padding: 20px 0 17px;
}

.footer__navigation-link {
  display: block;
  padding: 8px 0;
}

.footer__navigation-heading {
  margin: 0 0 12px;
  @include mixins.font-bold;
  @include mixins.font-body;
  color: variables.$violet-primary;
}

.footer__address-heading {
  margin: 0 0 20px;
  @include mixins.font-bold;
  @include mixins.font-body;
  color: variables.$violet-primary;
}

@media (min-width: variables.$min-tablet-width) {
  .footer__social-list-wrapper {
    padding-bottom: 30px;

    &::after {
      display: none;
    }
  }

  .footer__logo-image {
    width: 170px;
  }
}

@media (min-width: variables.$min-desktop-width) {
  .footer__logo-container {
    display: flex;
  }

  .footer__social-list-wrapper {
    padding-bottom: 20px;
  }

  .footer__logo-image {
    margin-bottom: 10px;
  }

  .footer__logo-description {
    display: block;
    width: 318px;
  }
}
