@use "../global/variables";
@use "../global/mixins";

.footer {
  background-color: variables.$base-white;
}

.footer__social-list-wrapper {
  padding: 20px 0 19px;
}

.footer__social-list-wrapper,
.footer__navigation,
.footer__address-wrapper {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    bottom: 0;
    width: 100vw;
    height: 1px;
    background-color: variables.$base-secondary;
  }
}

.footer__logo-image {
  display: block;
}

.footer__logo-description {
  display: none;
}

.footer__address-wrapper {
  padding: 20px 0;
}

.footer__address {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.footer__location,
.footer__phone {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 13px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.footer__location {
  margin-bottom: 16px;

  &::before {
    background-image: url("../../img/pin.svg");
  }
}

.footer__phone::before {
  background-image: url("../../img/phone.svg");
}

.footer__location,
.footer__phone {
  padding-left: 19px;
  @include mixins.font-regular;
  @include mixins.font-body;
  color: variables.$base-black;
}

.footer__navigation {
  flex-direction: column;
  padding: 21px 0 20px;
}

.footer__navigation-link {
  display: block;
  padding: 8px 0;
}

.footer__navigation-heading {
  margin: 0 0 12px;
  @include mixins.font-bold;
  @include mixins.font-body;
  color: variables.$violet-primary;
  letter-spacing: 0.02em;
}

.footer__address-heading {
  margin: 0 0 20px;
  @include mixins.font-bold;
  @include mixins.font-body;
  color: variables.$violet-primary;
  letter-spacing: 0.02em;
}

@media (min-width: variables.$min-tablet-width) {
  .footer__container {
    display: grid;
    grid-template-columns: 223px 223px 223px;
    grid-column-gap: 30px;
  }

  .footer__social-list-wrapper,
  .footer__navigation,
  .footer__address-wrapper {
    &::after {
      display: none;
    }
  }

  .footer__link-item {
    margin-bottom: 4px;
  }

  .footer__social-list-wrapper {
    grid-column: 1 / 4;
    padding: 38px 0 10px;

    &::after {
      display: none;
    }
  }

  .footer__logo-image {
    width: 170px;
  }

  .footer__copyright {
    grid-column: 1 / 4;
  }
}

@media (min-width: variables.$min-desktop-width) {
  .footer__container {
    grid-template-columns: repeat(4, 1fr);
    padding-top: 40px;
  }

  .footer__logo-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .footer__social-list-wrapper {
    grid-column: 1;
    padding-top: 0;
    padding-bottom: 20px;
  }

  .footer__navigation {
    padding: 10px 0;
  }

  .footer__address-wrapper {
    padding: 10px 0;
  }

  .footer__logo-image {
    margin-bottom: 10px;
  }

  .footer__logo-description {
    display: block;
    width: 318px;
    @include mixins.font-body;
  }

  .footer__copyright {
    grid-column: 1 / 5;
  }
}
