@use "../global/variables";
@use "../global/mixins";

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.form-group__title {
  padding: 0 0 22px;
  @include mixins.font-semibold;
  @include mixins.font-title;
}

@media (min-width: variables.$min-tablet-width) {
  .form-group__title {
    padding: 0 0 19px;
  }
}
