@use "../global/variables";

.map__container {
  &--nojs .map__canvas--image {
    display: block;
  }

  &--nojs .map__canvas--interactive {
    display: none;
  }
}

.map__canvas {
  width: 100%;
  height: 420px;
  background-color: variables.$backround-map;

  &--image {
    display: none;
  }
}

.map__image-map {
  display: block;
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
}

@media (min-width: variables.$min-tablet-width) {
  .map__canvas {
    height: 480px;
  }

  .map__image-map {
    height: 480px;
  }
}

@media (min-width: variables.$min-desktop-width) {
  .map__canvas {
    height: 540px;
  }

  .map__image-map {
    height: 540px;
  }
}
