@use "../global/variables";
@use "../global/mixins";

.navigation {
  display: flex;
}

.navigation__link-item {
  margin-bottom: 4px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.navigation__actions {
  display: flex;
}

.navigation__action-icon {
  vertical-align: top;
}

.navigation__link {
  @include mixins.font-medium;
  @include mixins.font-subtitle;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: variables.$base-black;
}

@media (min-width: variables.$min-tablet-width) {
  .navigation__actions {
    align-items: center;
  }
}

@media (min-width: variables.$min-desktop-width) {
  .navigation__link {
    &:hover,
    &:focus {
      color: variables.$violet-lighter;
    }

    &:active {
      color: variables.$violet-darker;
      background-color: variables.$base-secondary;
    }
  }
}
