@use "../global/variables";

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list__content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.social-list__item {
  margin-right: 20px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.social-list__link {
  display: block;
  padding: 10px;
  border-radius: 4px;

  svg {
    vertical-align: top;
    color: variables.$base-grey;
  }
}

@media (min-width: variables.$min-desktop-width) {
  .social-list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .social-list__content {
    margin-left: 0;
  }

  .social-list__link {
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: variables.$base-secondary;

      svg {
        color: variables.$violet-primary;
      }
    }

    &:active {
      background-color: variables.$primary-opacity;

      svg {
        color: variables.$violet-primary;
      }
    }
  }
}
