$base-white: #ffffff;
$base-secondary: #f0ebff;
$base-grey: #bdbdbd;
$light-grey: #e2e2e2;
$lightest-grey: #f8f8f8;
$base-black: #333333;
$violet-primary: #7859f;
$violet-lighter: #9070ec;
$violet-darker: #593cac;
$flat-white: #f3ebe1;
$lavender-latte: #eae6fc;
$espresso: #e5e6e8;
$primary-opacity: rgba(120, 89, 207, 0.25);

$min-mobile-width: 320px;
$min-tablet-width: 768px;
$min-desktop-width: 1440px;
